# 05. Frequências de imóveis

Nesta aula, aprendemos:
* Formas de seleção e frequências
Seleção com a condição OR (|)
Seleção com a condição AND (&)

* Como criar um Index com split()

* Seleção por linha e coluna em um dataframe:
Utilizando os índices numéricos e os rótulos das linhas

## Seleções e frequência

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [ ]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [ ]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [ ]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
#60 <= AREA <= 100
selecao = (dados['Area'] >=60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [ ]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [ ]:
print(f"Nº de imóveis classificados com tipo 'Apartamento'. -> {n1}")

print(f"Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> {n2}")

print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> {n3}")

print(f"Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> {n4}")

Nº de imóveis classificados com tipo 'Apartamento'. -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'. -> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> 41

### (Extra) Formas de seleções

In [ ]:
import pandas as pd

In [ ]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [ ]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (9, 10, 11, 12),
        (13, 14, 15, 16)]

df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [ ]:
type(df['c1'])

pandas.core.series.Series

In [ ]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
df[:] # seleciona todas as linhas
df[1:] #seleciona todas a partir do index 1
df[1:3] #seleciona apenas o index 1 e 2 (exclui o 3)

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [ ]:
df[1:][['c3', 'c1']] #seleciona todas as linhas a partir do index 1 e as duas colunas c3 e c1

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
df.loc['l3'] # cria uma series com as colunas da linha l3

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [ ]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [ ]:
df.iloc[0, 1] # pega a referência por índice númerico

2

In [ ]:
df.iloc[[2, 0], [3, 0]]

    c4  c1
l3  12   9
l1   4   1