# 02. Criando novas vari√°veis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv ('aluguel_residencial.csv', sep=';')

FileNotFoundError: ignored

In [ ]:
dados.head(10)

### criando o valor bruto

In [ ]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados.head(10)

### criando o valor por metro quadrado

In [ ]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados['Valor m2'] = dados['Valor m2'].round(2) #arredondando as casa decimais
dados.head(10)

In [ ]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(10)

In [ ]:
casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

# 04. Excluindo vari√°veis

### criei um DataFrame auxiliar usando as colunas do DataFrame principal

In [50]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0       Apartamento     42.50       2260.0           56.50
1              Casa     70.00       7000.0           70.00
2       Apartamento     53.33       1210.0           80.67
3       Apartamento     16.67       1030.0           21.46
4       Apartamento     26.00       1618.0           32.36
...             ...       ...          ...             ...
21821   Apartamento     12.86       1438.0           20.54
21822   Apartamento     29.63       1175.0           43.52
21823   Apartamento     23.08       2640.0           33.85
21824   Apartamento     29.17       1946.0           40.54
21825   Apartamento     42.86       3760.0           53.71

[21826 rows x 4 columns]

### Formas de excluir colunas do Df

In [51]:
del dados_aux['Valor Bruto']
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     53.33           80.67
3       Apartamento     16.67           21.46
4       Apartamento     26.00           32.36
...             ...       ...             ...
21821   Apartamento     12.86           20.54
21822   Apartamento     29.63           43.52
21823   Apartamento     23.08           33.85
21824   Apartamento     29.17           40.54
21825   Apartamento     42.86           53.71

[21826 rows x 3 columns]

In [52]:
dados_aux.pop('Valor Bruto m2')
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     26.00
...             ...       ...
21821   Apartamento     12.86
21822   Apartamento     29.63
21823   Apartamento     23.08
21824   Apartamento     29.17
21825   Apartamento     42.86

[21826 rows x 2 columns]

In [53]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True) # axis = eixo

In [57]:
dados.to_csv('aluguel_residencial2.csv', sep = ';', index = False)

# Extras - Contadores

In [5]:
s = pd.Series(list('sfsdfsdfasdfasfdsasdfasf'))
s

0     s
1     f
2     s
3     d
4     f
5     s
6     d
7     f
8     a
9     s
10    d
11    f
12    a
13    s
14    f
15    d
16    s
17    a
18    s
19    d
20    f
21    a
22    s
23    f
dtype: object

In [6]:
s.unique()

array(['s', 'f', 'd', 'a'], dtype=object)

In [7]:
s.value_counts()

s    8
f    7
d    5
a    4
dtype: int64

In [8]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [13]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

# Nesta aula, aprendemos:

* Como criar vari√°veis
* Como excluir vari√°veis utilizando del, pop() e drop()
* Contadores, atrav√©s do value_counts()